.data-row:nth-child(odd) {
    background-color: #e2dfdf;
}

.data-row:hover {
    background-color: rgb(209, 248, 239);
}

.song-element {
    border-bottom: 1px solid;
    padding: 0.5rem;
}

.delete-icon:hover {
    color: red;
    font-weight: bold;
}

.edit-icon:hover {
    color: orange;
    font-weight: bold;
}

.like-increment {
    padding: 0rem 0.3rem;
}

.like-increment:hover {
    color: green;
}

.table-style {
    text-align: left;
    border: 1px solid;
    border-collapse: collapse;
    table-layout: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}